.content-result{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content-result p{
    padding: 10px;
    background: #979797;
    width: 100%;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
    color: #4a4a4a;
    border-left: 3px solid red;
}
.content-result p span{
 color: white;
}
.box{
    width: 100%;
}