
.title{
    position: absolute;
    top: -12px;
    text-align: center;
    background: white;

    padding: 0 20px;
}
.flex{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    border-top: 1px solid red;
}